body{
  font-family: arial,sans-serif;
}

.edit-grid{
  max-width: 99%;
  margin: 0 auto;
  position: relative;
}

/* clear fix */
.edit-grid:after {
  content: '';
  display: block;
  clear: both;
}

#index-letters{
  display: none;
}

#index-letters span{
  font-size:1.2em;
  font-weight:bold;
  color: #ccc;
}

#index-letters span a {
    color: #208fde;
    text-decoration: none;
}

.edit-grid-item, .grid-sizer {
  width: 100%;
}

.stamp{
  width: 100%!important;
}

.edit-grid-item{
  float: left;
}

.deactive{
  display: none!important;
}

.letter h2{
  border-bottom: 1px solid #333;
  padding: 10px 25px;
  background: #ececec;
}

.topic h3{
  margin: 10px 0;
}

.editorial{
  display: inline;
  margin: 5px 0;
}

.editHed{
  display: block;
  margin: 0 0 5px 0;
}

.editHed a {
  text-decoration: none;
  color: #208fde;
}

.editDate{
  font-size: 10px;
  color: #555;
  padding-left: 5px;
  vertical-align: top;
}

@media only screen and (min-width: 450px) {
    /* For tablets: */
    .edit-grid{
      max-width: 95%;
    }
    .edit-grid-item, .grid-sizer {
      margin: 0 3% 0 0;
      width: 47%;
    }
    #index-letters{
      display: block;
      margin: 15px auto;
      text-align: center;
    }
}

@media only screen and (min-width: 769px) {
    /* For web: */
    .edit-grid-item, .grid-sizer {
      margin: 0 2% 0 0;
      width: 31%;
    }
}